doctype html
html
head(lang='en-US')
    link(rel='stylesheet' href='custom.css')
    link(rel='stylesheet' href='bootstrap.css')
    link(rel='stylesheet' href='bootstrap-slider.css')
body
    h1 I want to play a game
    p The website for people who are looking for someone in their neighborhood to join their game or for people who want to join a game in their neighborhood
    div
        a(href='/newuser') register
    if user
        div
            a(href='/newgame') start a new game
        div
            a(href='/joingame') join a game
        div
            a(href='/yourgames') See an overview of all games you started
        div
            a(href='/games') See an overview of all games you joined
        div
            a(href='/logout') logout
    else
        div
            a(href='/login') login
    script(src='/custom.js')
    script(src='/jquery.js')
    script(src='/bootstrap-slider.js')
    block content
    
    