extends ./index
block content
    h1 Fill in this form and let the games begin
    form( action='newgame' method='post' )
        div
            input( type='text', name='name', placeholder='game name')
        div
            input( class='text', type='integer', name='players', placeholder='how many players are needed?' )
        div
            input( type='text', name='date', placeholder='When will your game start?' )
        div
            input( type='text', name='alcohol', placeholder='Are people allowed or even encouraged to bring alcohol to the game?'  )
        div
            input( type='text', name='info', placeholder='anything you want to add?')
        input( type="submit" )