extends ./index
block content
    h1 Welcome to the wonderfull world of playing games with people you might not have known befor
    form( action='newuser' method='post' )
        div
            input( type='text', name='username', placeholder='username')
        div
            input( type="email", name="email", placeholder="your e-mail" )
        div
            input( type='integer', name='age', placeholder='age')
        div
            input( type="password", name="password", placeholder="password" )
        div
            input( type="password", name="repeat password", placeholder="repeat password" )
        input( type="submit" )