extends ./index
block content
    h1 Welcome to the wonderfull world of playing games with people you might not have known before
    div
        p click the locate button to get your coordinates and then fill them in in the form please
        button(type="button" onclick='geoFindMe()') locate
    div(id="out")
    form( action='newuser' method='post' )
        div
            input( type='text', name='username', placeholder='username')
        div
            input( type="email", name="email", placeholder="your e-mail" )
        div
            input( type='integer', name='age', placeholder='age')
        div
            input( type='float', name='latitude', placeholder='latitude' )
        div
            input( type='float', name='longitude', placeholder='longitude' )
        div
            input( type="password", name="password", placeholder="password" )
        input( type="submit" )