#gameblock {
	border: 1px solid darkblue;
    padding: 6px;
    margin: 5px;
    display: block;
}
#game {
	border: .5px solid darkred;
    padding: 0.5%;
    margin: 0.5%x;
    display: inline-block;
}
#ex1Slider .slider-selection {
	background: darkred;
}